:root{
    --el-color-primary:#FFBE00;
    --el-color-primary-light-3:#100A05 !important;
    --el-component-size-small: 32px !important;
    --el-color-black:#100A05 !important;
    --el-color-tips:#909399 !important;
    --el-color-border:#DCDFE6 !important;
    --el-color-primary-dark-2: #FFBE00;
    --el-color-primary-light-5: #FFBE00;
    --el-color-primary-light-8: #FFBE00;
    --el-color-primary-light-9: #FFFAEB;
    
}
/* 搜索表单 */
.common-seach-wrap{
    .el-input__wrapper{
        padding: 1px 15px;
    }
    .el-form-item__label{
        --el-text-color-regular: #606266;
        font-weight: 400;
    }
    .el-form--inline .el-form-item{
        margin-right: 16px;
    }
}
.el-form-item--small{
    .el-form-item__label{
        height: var(--el-component-size-small) !important;
        line-height: var(--el-component-size-small) !important;
    }
    .el-form-item__content{
        line-height: var(--el-component-size-small) !important;
        .el-radio__input,.el-radio__inner{
            transform: scale(1.1);
        }
    }
}


/* 普通表单 */
.el-form-item__content{
    width: 100%;
    .gray9{
        width: 100%;
    }
	 .el-row{
        .img{
            width: 100%;
            margin-top: 10px;
        }
    }
    .el-date-editor{
        --el-date-editor-width: auto;
    }
    span{
        margin: 0 6px;
    }
    label span{
        margin: 1px !important;
    }
    .el-input span{
        margin: 0;
    }
    .el-color-picker--small{
        height: auto !important;
        .el-color-picker__trigger{
            width: 32px;
            height: 32px;
            span{
                margin: 0 !important;
            }
        }
    }
}
/* 表格 */
.el-table .cell{
    line-height: 32px !important;
    font-size: 14px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.el-table th .cell{
    text-transform: capitalize;
}
.el-table .cell.el-tooltip{
    display: block;
    white-space: nowrap; /* 禁止换行 */
    overflow: hidden; /* 隐藏溢出内容 */
    text-overflow: ellipsis; /* 显示省略号 */
}
.el-table thead{
    color: var(--el-color-tips) !important;
}
.el-table td.el-table__cell{
    color: var(--el-color-black);
    font-weight: 400;
}
/* 按钮 */
.el-button{
    text-transform: capitalize;
    color: var(--el-color-black);
    border-color: var(--el-color-border);
}
.el-button:focus{
    outline: none;
}
.el-button:hover{
    color: var(--el-color-primary);
    border-color: var(--el-color-primary);
}
.el-button.el-button--small.el-button--text{
    padding-left: 0;
    padding-right: 0;
}
.el-button--small{
    --el-button-size: var(--el-component-size-small);
    font-size: 14px;
}
.common-button-wrapper{
	.el-button--small{
		padding: 5px 22px !important;
	}
}

.el-button--primary{
    --el-button-text-color:var(--el-color-black);
    border-color: var(--el-color-primary);
}
.el-button--primary:hover{
    color: white;
    border-color: var(--el-color-black);
}
.el-button--primary:focus{
    color: white;
    border-color: var(--el-color-black);
}
/* 弹框 */
.el-dialog__body{
    overflow: hidden;
    padding: 10px 20px !important;
    .dialog-footer{
        float: right;
    }
    .el-select{
        width: 100%;
    }
}
.el-dialog__headerbtn{
    .el-icon svg{
        width: auto !important;
        height: auto !important;
    }
}
.table-wrap{
    padding: 0 ;
}
.el-tabs{
    .el-tabs__item{
        font-size: 14px;
        font-weight: bold !important;
        span{
            font-weight: inherit;
        }
    }
}
.el-table{
    --el-table-border-color: #EEEEEE !important;
    --el-table-header-bg-color:#F7F9FB !important;
    --el-table-header-text-color:#101010 !important;
    width: 100% !important;
    .el-table__cell{
        position: static !important;
    }
}
.el-form{
    --el-text-color-regular:#333;
    --el-font-size-base: 12px !important;
    position: relative;
}
.el-form-item{
    --font-size: 14px !important;
    .el-form-item{
        margin-bottom: 18px;
    }
}
.el-form-item__label{
    font-weight: 400;
}
.el-radio__input.is-checked+.el-radio__label{
    span{
        color: var(--el-text-color-regular);
    }
}
.pagination{
    overflow: hidden;
    .el-pagination{
        float: right;
    }
}
.upload-dialog .pagination-wrap{
	float: right;
}
// .el-icon svg {
//     height: 1.5em;
//     width: 1.5em;
// }
.img-select .el-icon svg{
    width: 2em;
    height: 2em;
}
/* 图片查看器 */
.el-image-viewer__canvas{
    padding: 20px;
    box-sizing: border-box;
}

.el-tabs__item ,.el-message-box__title,.el-dialog__title,.el-radio__label{
    text-transform: capitalize;
}
.el-input__inner{
    font-size: 14px;
}
.el-input-number .el-input__inner{
    text-align: left !important;
}
.el-input-number--small{
    width: 100% !important;
}
.el-button--primary.is-link{
    border: none;
}
.el-button--primary.is-link:hover{
    color: var(--el-color-black);
}
.el-button--danger.is-link{
    border: none;
    color:var(--el-color-danger);
}
.el-button--primary.is-link.is-disabled{
    color: var(--el-color-tips) ;
}
.el-button--primary.is-link.is-disabled:hover{
    color: var(--el-color-tips);
}
.el-button--primary.el-button.is-disabled{
    opacity: 0.8;
    background: #e8eaeb;
    border-color:#e8eaeb;
    color: #999;
}
.el-button--primary.el-button.is-disabled:hover{
    color: #999;
}
.el-dropdown-menu__item.is-disabled{
    color:var(--el-color-primary) !important;
    background: #FFF6DE;
}
.el-select-dropdown__item{
    max-width: 50vw;
}
.el-select--small .el-select__wrapper{
    min-width: 180px;
    height: 32px;
    font-size: 14px !important;
}
.el-textarea__inner{
    font-size: 14px !important;
}
input{
    outline: none;
}
.el-button--primary.search-button{
    background: var(--el-color-black);
    border: var(--el-color-black);
    color: white;
}