html,
body,
#app {
  height: 100%;
}

#app {
  width: 100%;
  overflow: hidden;
  background: #f6f8fb;
}

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*滚动条的宽度*/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/*外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/

::-webkit-scrollbar-track {
  width: 4px;
  background-color: #e1e8ef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*滚动条的设置*/

::-webkit-scrollbar-thumb {
  background-color: #bcc7d3;
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*滚动条移上去的背景*/

::-webkit-scrollbar-thumb:hover {
  background-color: #94a2b0;
}

/*left*/
.left-menu-wrapper {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  width: 100px;
  z-index: 99
}

.menu-wrapper .home-login {
  width: 180px;
  height: 64px;
  margin-top: 20px;
}
.home-title{
    color: var(--el-color-black);
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0 20px 0;
    padding: 0 16px;
}
.menu-wrapper .home-login .home-icon,
.menu-wrapper .home-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.menu-wrapper .home-login .home-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 1;
  /* background-color: #fff; */
  cursor: pointer;
}

.menu-wrapper {
  height: calc(100vh - 64px);
  background: #fff;
  border-right:1px solid #E4E7ED;
  position: relative;
  z-index: 1;
  width: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-wrapper {
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-wrapper::-webkit-scrollbar {
  display: none
}

.menu-wrapper {
  width: 180px;
  height: calc(100vh - 64px);
}

.menu-wrapper .nav-wrapper .nav-ul li {
  width: 100%;
  padding:13px 16px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--el-color-black);
  cursor: pointer;
}

.menu-wrapper .nav-wrapper .nav-ul li.router-link-active {
  background: #FFFAEB;
  color: #FFBE00;
  border-right: 4px solid #FFBE00;
  font-weight: 500;
}

.menu-wrapper .nav-wrapper .nav-ul .menu-item .menu-item-icon {
  display: inline-block;
  margin-right: 6px;

}

.menu-wrapper .nav-wrapper .nav-ul .svg-icon {
  color: #FFFFFF;
  width: 20px;
  height: 20px;
}

.menu-wrapper .nav-wrapper .nav-ul li.router-link-active .svg-icon {
  color: #3a8ee6;
}

.left-menu-wrapper .icon-home .svg-icon {
  color: #3a8ee6;
  width: 30px;
  height: 30px;
}

.child-menu-wrapper {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 180px;
  width: 140px;
  background: #fff;
  webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.right-big .child-menu-wrapper {
  left: 0 !important;
  /* z-index: 10; */
}

.child-menu {
  width: 140px;
  height: 100vh;
  background: #fff;
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  -webkit-transition: all .3s;
  transition: all .3s;
  border-right: 1px solid #eee;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  text-transform: capitalize;
}
.child-menu ul {
    width: 100%;
}
.child-menu ul li {
  display: block;
    padding: 13px 16px;
    font-size: 14px;
  color: #666;
  cursor: pointer;
}

.right-animation {
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.child-menu ul .router-link-active {
  color: #FFBE00;
}


/*right*/
.right-big .right-content {
  margin-left: 180px !important;
}

.right-content {
  width: auto;
  margin: 0 0 0 320px;
  -webkit-transition: margin-right .5s;
  transition: margin-right .5s;
  height: 100vh;
}

.common-header {
  height: 64px;
  border-bottom: 1px solid #100A05;
  background: #100A05;
  line-height: 64px;
}

.common-header,
.common-header-index {
  padding-left: 20px;
  font-size: 14px;
  box-sizing: border-box;
}

/*right top*/
.common-header .breadcrumb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

.common-header .header-navbar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-navbar-icon {
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
}
.data-box-icon{
    width: 16px;
    height: 16px;
    color: #fff;
}
.header-time{
    margin-right: 48px;
    color: #fff;
}
.header-time span{
    color: #FF0000;
}
.header-lang{
    margin-right: 16px;
    cursor: pointer;
}
.header-lang,.header-lang .el-dropdown-link{
    display: flex;
    align-items: center;
    color: rgba(70, 79, 101);
}
.header-navbar-icon .svg-icon {
  width: 20px;
  height: 20px;
  color: #fff;
}

.header-navbar-icon .text {
  color: #fff;
}

.header-navbar-icon.login-out .svg-icon {
  color: red;
}

.breadcrumb .baseInfo-left-base {
  font-weight: bold;
  font-size: 16px;
}
.breadcrumb .baseInfo-left-base .name{
  font-weight: inherit;
  font-size: inherit;
}

.right-content-box {
  min-height: calc(100vh - 64px);
  overflow: auto;
  /* padding: 20px 16px; */
  box-sizing: border-box;
}

/*subject*/
.subject-wrap {
  min-height: calc(100vh - 64px);
  overflow-x: auto;
  position: relative;
  /* padding: 16px; */
  /* background: #FFFFFF; */
}
.subject-wrap>.main-div{
	padding: 16px;
	margin: 20px 16px;
	background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}
.subject-wrap>.home-div{
	padding: 16px;
	margin: 20px 16px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}
.common-level-rail {
  margin-bottom: 18px;
}

.pagination {
  text-align: right;
  margin-top: 18px;
}

/*form*/
.common-form {
  position: relative;
  height: 40px;
  padding-left: 20px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
  text-transform: capitalize;
}
.common-form span{
	font-size: inherit;
}

.common-form:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 14px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.common-form:before {
  background: #FFBE00;
}

.common-button-wrapper {
  -webkit-transition: width .3s;
  transition: width .3s;
  background: #fff;
  border-top: 1px solid #eee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 999;
  padding-top: 16px;
}

.common-button-wrapper .el-form-item {
  margin-bottom: 0;
}

.common-button-wrapper .el-form-item--mini.el-form-item,
.common-button-wrapper .el-form-item--small.el-form-item {
  margin-bottom: 0;
}

.el-form-item--small{
    margin-bottom: 16px !important;
}

/*表格中的商品展示*/
.table-wrap .product-info {
  display: flex;
}

.table-wrap .product-info .pic {
  position: relative;
  width: 60px;
  height: 60px;
  background: #F0F0EE;
}

.table-wrap .product-info .info {
  flex: 1;
  padding-left: 10px;
  overflow: hidden;
  line-height: 20px;
}

.table-wrap .product-info .name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.table-wrap .product-info .price {
  color: rgb(255, 51, 0);
}

.table-wrap .product-info .pic img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

.table-btn-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.table-btn-column .el-button{
  padding: 3px 0;
  margin-left: 0 !important;
}
.edit_container{
  max-width: 500px;
  height: 205px;
}
